@{
    ViewData["Title"] = "Menú Principal";
}

<div style="display:flex; flex-direction:column; align-items:center; margin-top:40px;">
    <h1>Quixo Web</h1>

    <a href="/Home/SelectMode" class="btn btn-primary" style="margin:10px; width:250px;">
        🎮 Jugar una partida nueva
    </a>

    <a href="/History/Index" class="btn btn-secondary" style="margin:10px; width:250px;">
        📄 Partidas finalizadas
    </a>

    <a href="/Stats/Index" class="btn btn-info" style="margin:10px; width:250px;">
        📊 Estadísticas
    </a>
</div>
